.ant-modal-content {
  position: relative;
  background-color: rgb(181, 245, 151);
  background-clip: padding-box;
  border: 0;
  border-radius: 15px;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%),
    0 6px 16px 0 rgb 0 9px 28px 8px rgb(0 0 0 / 5%);
  pointer-events: auto;
}
.ant-modal-footer {
  padding: 10px 16px;
  /* text-align: right; */
  background: transparent;
  border-top: 1px solid #f0f0f0;
  border-radius: 0 0 2px 2px;
}
.ant-btn-primary {
  color: #fff;
  border-color: #1890ff;
  background: #1890ff;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
  width: 71%;
  border-radius: 29px;
  bottom: 9px;
  margin-bottom: 14px;
  margin-top: 24px;
}
/* -------------------Restaurant is closed------------------  */
span.input-error.closed {
  color: black;
}
.paymentModalButton {
  background: #0d6efd;
  border: none;
  color: #fff;
  padding: 3px 10px;
  cursor: pointer;
}

.ant-modal-content {
  position: relative;

  background-clip: padding-box;
  border: 0;
  border-radius: 15px;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%),
    0 6px 16px 0 rgb 0 9px 28px 8px rgb(0 0 0 / 5%);
  pointer-events: auto;
  float: right;
  padding: 24px;
}
.ant-modal-footer {
  padding: 10px 16px;
  text-align: center;
  background: transparent;
  border-top: 1px solid #f0f0f0;
  border-radius: 0 0 2px 2px;
}
.ant-btn-primary {
  color: #fff;
  border-color: #1890ff;
  background: #1890ff;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
  width: 71%;
  border-radius: 29px;
  bottom: 9px;
  margin-bottom: 14px;
  margin-top: 24px;
}
.anticon svg {
  width: 80px;
  height: 50px;
}
